<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Users</title>
</head>
<body>

<h1>List users</h1>

<div th:if="${error != null}" th:text="${error}" style="color: red;">
</div>


<div th:if="${savedUser != null}">
    New user with id [<span th:text="${savedUser.id}"></span>], name[<span th:text="${savedUser.name}"></span>]
    , email [<span th:text="${savedUser.email}"></span>] is created.
</div>

<div th:if="${editedUser != null}">
    User with id [<span th:text="${editedUser.id}"></span>], name[<span th:text="${editedUser.name}"></span>]
    , email [<span th:text="${editedUser.email}"></span>] is edited.
</div>

<div th:if="${deletedUser != null}">
    User with id [<span th:text="${deletedUser}"></span>] is deleted.
</div>

<div th:if="${users == null || users.isEmpty()}">
    There are no users.
</div>

<a th:href="@{/users/create}">
    <button>Create new user</button>
</a>

<table th:unless="${users == null || users.isEmpty()}" }>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Options</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
            <form th:action="@{/users/delete/{id}(id=${user.id})}" th:method="DELETE">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>